h2{
  color: blue;
  font-style: italic;
}
h1{
  color: navy;
  text-align: center;
}
.intro{
color: red;
width: 70%;
}

.img{
  background-image: url(http://farm7.staticflickr.com/6021/6196026178_bb9dfd3888_b.jpg);
  width: 400px;
  height: 400px;
  border: 2px solid #362121;
}

.important{
  color: blue;
  font-size: 24;
}
.highlight{
  color: yellow;
}
p{
  font-style:  italic;
  color: green;
}
.important p:hover{
  font-style: italic;
  color: blue;

}
